<div class="container-fluid">
  <h2 class="mb-4">Pagos</h2>

  <div class="row mb-3">
    <div class="col-md-4">
      <select [(ngModel)]="filtroEstado" class="form-select">
        <option value="">Todos los estados</option>
        <option value="pagado">Pagado</option>
        <option value="deuda">Deuda</option>
        <option value="pendiente">Pendiente</option>
        <option value="deuda judicial">Deuda Judicial</option>
        <option value="completado">Completados</option>
      </select>
    </div>
    <div class="col-md-4">
      <input type="text" [(ngModel)]="busqueda" class="form-control" placeholder="Buscar cliente...">
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>N° Prestamo</th>
        <th>N° Cuotas</th>
        <th>Estado</th>
        <th>Cliente</th>
        <th>Cuotas pagadas</th>
        <th>Cuotas deuda</th>
        <th>Cuotas judiciales</th>
        <th>Cuotas judicial pagadas</th>
        <th>Monto</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let prestamo of filtrarPagos()">
        <td>{{ prestamo.id }}</td>
        <td>{{ prestamo.cuotas }}</td>
        <td>
          <span class="badge" [ngClass]="{
            'bg-success': getEstado(prestamo) === 'completado',
            'bg-primary': getEstado(prestamo) === 'pagado',
            'bg-warning': getEstado(prestamo) === 'deuda',
            'bg-danger': getEstado(prestamo) === 'deuda judicial',
            'bg-secondary':getEstado(prestamo) === 'pendiente'
          }">{{ getEstado(prestamo) }}</span>
        </td>
        <td>{{ prestamo.username }}</td>
        <td class="text-center">{{ prestamo.cuotasPagadas }}</td>
        <td class="text-center">{{ prestamo.cuotasporpagar }}</td>
        <td class="text-center">{{ prestamo.cuotasJudicialesporpagar }}</td>
        <td class="text-center">{{ prestamo.cuotasJudicialesPagadas }}</td>
        <td>S/ {{ prestamo.monto.toFixed(2) }}</td>
        <td>
            <button class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#detalleModal" (click)="verDetalle(prestamo)">Ver detalle</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal modal-xl" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detalleModalLabel">Detalle del Pago</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="prestamoseleccionado">
          <p><strong>N° Prestamo:</strong> {{ prestamoseleccionado.id }}</p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">F Pago</th>
                <th scope="col">F Cancelación</th>
                <th scope="col">Cuota</th>
                <th scope="col">Interés</th>
                <th scope="col">Capital Amortizado</th>
                <th scope="col">Saldo Final</th>
                <th scope="col">Mora</th>
                <th scope="col">Dias Deuda</th>
                <th scope="col">Total Mora</th>
                <th scope="col">Estado</th>
                <th scope="col">Total</th>
                <th scope="col">Pagar</th>
                <th scope="col">Comprobante</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cuota of prestamoseleccionado.detallecuotas">
                <td>{{ cuota.nmrcuota }}</td>
                <td>{{ cuota.fechaPago }}</td>
                <td>{{ cuota.fechadeCancelamiento }}</td>
                <td>S/ {{ cuota.cuota.toFixed(2) }}</td>
                <td>S/ {{ cuota.interes.toFixed(2) }}</td>
                <td>S/ {{ cuota.capitalamortizado.toFixed(2) }}</td>
                <td>S/ {{ cuota.saldofinal.toFixed(2) }}</td>
                <td>S/ {{ cuota.mora.toFixed(2) }}</td>
                <td>{{ cuota.totaldiasmora }}</td>
                <td>S/ {{ cuota.totalmora.toFixed(2) }}</td>
                <td>          <span class="badge" [ngClass]="{
                  'bg-success': cuotaEstado(cuota) === 'pagado',
                  'bg-warning': cuotaEstado(cuota) === 'deuda',
                  'bg-danger':  cuotaEstado(cuota) === 'judicial',
                  'bg-secondary':cuotaEstado(cuota) === 'pendiente'
                }">{{cuotaEstado(cuota)}}</span></td>
                <td>S/ {{ (cuota.totalmora + cuota.cuota).toFixed(2) }}</td>
                <td >
                  <button class="btn btn-success" (click)="pagarCuota(prestamoseleccionado.id ,cuota.nmrcuota)">Pagar</button>
                </td>
                <td *ngIf="cuota.ispayed">
                  <button class="btn btn-secondary" (click)="comprobante(prestamoseleccionado.id ,cuota.nmrcuota)">Ver</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>